body * {
    margin: 0;
    font-family: Nunito Sans;
    box-sizing: border-box;
}
.button {
    width: 161px;
    height: 37px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    /*padding: 13px 33px;*/
    color: white;
    text-transform: uppercase;
}
.button1 {
    width: 207px;
    height: 51px;
}
.button2 {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}
.header {
    background-color: black;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
} 
.header-content {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header-nav {
    list-style: none;
    display: flex;
}
.header-nav__item {
    margin-right: 47px;
}
.header-nav__link {
    text-decoration: none;
    color: white;
}
.header-nav__activelink {
    text-decoration: none;
    color: #E3B873;
}
.phone {
    text-decoration: underline;
}
.page1 {
    position: relative;
    height: 707px;
    background-image: url('../images/first.jpg');
    /*background-size: cover;*/
}
.page1__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.page1__content {
    position: relative;
    z-index: 1;
    max-height: 305px;
    padding-left: 135px;
}
.headtitle {
    padding-top: 194px;
    max-width: 550px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title {
    max-width: 253px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.maintext {
    padding-top: 19px;
    padding-bottom: 41px;
    max-width: 504px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.text {
    padding-top: 34px;
    padding-right: 50px;
    max-width: 442px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.page2 {
    height: 1074px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page2__content {
    padding-left: 135px;
    padding-top: 176px;
}
.page2__projectinfo {
    padding-top: 42px;
    padding-right: 50px;
    max-width: 442px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 81.1px;
}
.page2__projectinfo-element {
    width: 50%;
}
.info-name {
    padding-top: 34px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.info-text {
    padding-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.projectdetails-nav {
    display: flex;
}
.projectdetails-nav__item {
    padding-top: 107px;
    padding-right: 60.5px;
    padding-bottom: 52.68px;
}
.projectdetails-nav__link {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.page2__projectdetails-image {
    width: 679px;
    height: 482px;
    background-image: url(../images/second.jpg);
}
.vector {
    padding-right: 25px;
    padding-left: 16px;
}
.dot {
    padding-right: 9px;
}
.page3 {
    height: 1074px;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtitle1 {
    color: #181818;
}
.page3__camera {
    padding-top: 13px;
    padding-bottom: 31px;
}
.page3__video {
    width: 817px;
    height: 434px;
    position: relative;
    background-image: url(../images/image6.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-button {
    width: 85px;
    height: 85px;
    z-index: 1;
    margin: 0;
    background-image: url(../images/play.svg);
}
.page3__line {
    padding-top: 62.5px;
    width: 55px;
}
.page3__text {
    padding-top: 34.46px;
    width: 681px;
    height: 130px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}
.page3__inputblock {
    padding-top: 91.5px;
    width: 769px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
}
.inputblock {
    width: 260px;
    height: 45px;
}
.inputbox-title {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.inputbox {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.page3__checkbox {
    padding-top: 120px;
}
.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.checkbox-text {
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}
.page4 {
    height: 707px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    color: #E3B873;
}