* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
body {
    font-family: Nunito Sans;
    box-sizing: border-box;
}
.button {
    width: 161px;
    height: 37px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.button1 {
    width: 207px;
    height: 51px;
}
.button2 {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}
.header {
    background-color: black;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
} 
.header-content {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header-nav {
    list-style: none;
    display: flex;
}
.header-nav__item {
    margin-right: 47px;
}
.header-nav__link {
    text-decoration: none;
    color: white;
}
.header-nav__activelink {
    text-decoration: none;
    color: #E3B873;
}
.phone {
    text-decoration: underline;
}
.page1 {
    position: relative;
    height: 707px;
    background-image: url('../images/first.jpg');
    /*background-size: cover;*/
}
.page1__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.page1__content {
    position: relative;
    z-index: 1;
    height: 305px;
    padding-left: 135px;
}
.headtitle {
    padding-top: 194px;
    max-width: 550px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title {
    max-width: 253px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.maintext {
    padding-top: 19px;
    padding-bottom: 41px;
    max-width: 504px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.text {
    padding-top: 34px;
    padding-right: 50px;
    max-width: 442px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.page2 {
    height: 1074px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page2__content {
    padding-left: 135px;
    padding-top: 176px;
}
.page2__projectinfo {
    padding-top: 42px;
    padding-right: 50px;
    max-width: 442px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 81.1px;
}
.page2__projectinfo-element {
    width: 50%;
}
.info-name {
    padding-top: 34px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.info-text {
    padding-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.projectdetails-nav {
    display: flex;
}
.projectdetails-nav__item {
    list-style: none;
    padding-top: 107px;
    padding-right: 60.5px;
    padding-bottom: 52.68px;
}
.projectdetails-nav__link {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.page2__projectdetails-image {
    width: 679px;
    height: 482px;
    background-image: url(../images/second.jpg);
}
.vector {
    padding-right: 25px;
    padding-left: 16px;
}
.dot {
    padding-right: 9px;
}
.page3 {
    height: 1074px;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtitle1 {
    color: #181818;
}
.page3__camera {
    padding-top: 13px;
    padding-bottom: 31px;
}
.page3__video {
    width: 817px;
    height: 434px;
    position: relative;
    background-image: url(../images/image6.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-button {
    width: 85px;
    height: 85px;
    z-index: 1;
    margin: 0 auto;
    background-image: url(../images/play.svg);
    background-position: center;
    background-size: 100px;
}
.page3__line {
    padding-top: 62.5px;
    width: 55px;
}
.page3__text {
    padding-top: 34.46px;
    width: 681px;
    height: 130px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}
.page3__inputblock {
    padding-top: 91.5px;
    width: 769px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
}
.inputblock {
    width: 260px;
    height: 45px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.inputbox-title {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.inputbox {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: none;
}
.page3__checkbox {
    padding-top: 34px;
}
/* checkbox */
.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.checkbox-text {
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}
/* /checkbox */
.page4 {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page4__content {
    width: 1236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page4__content-element {
    width: 392px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.page4__content-element1 {
    width: 330px;
    margin-top: -127px;
    padding-top: 25px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.page4__content-element-title {
    padding-left: 34px;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.page4__content-element-list {
    padding-top: 13px;
    padding-left: 34px;
    padding-bottom: 49px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.page4__content-element-price {
    margin-bottom: -26px;
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: grid;
    text-align: center;
    align-content: center;
}
.page5 {
    margin-top: 241px;
    height: 707px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page5__infoblock {
    height: 645px;
    width: 703px;
    background-image: url(../images/image61.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*align-items: flex-end;*/
}
.page5__infoblock-list {
    height: 474px;
    width: 375px;
    margin-top: 117px;
    margin-left: 249px;
    display: flex;
}
.page5__infoblock-list ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 30px;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page5__infoblock-list ol li {
    position: relative;
}
.page5__infoblock-list ol li::before {
    content:'0' counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -72px;
    width: 41.76px;
    height: 32.76px;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 9px;
    text-align: center;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}
/*.listtext {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}*/
.page5__infoblock-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.page5__form {
    width: 506px;
    height: 509px;
    padding-top: 14px;
    padding-bottom: 27px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.page5__form-text {
    /*margin-top: 14px;*/
    width: 297px;
    height: 47px;
    margin-left: 104px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.page5__form-input {
    padding-top: 39px;
    margin-left: 49px;
    width: 408px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.inputblock0 {
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.page5__form-input-title {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.page5__inputbox {
    background-color: #131313;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.left-position {
    margin-left: 250px;
}
.page5__checkbox {
    margin-left: 49px;
}
.page5__checkbox-text {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.page5__discount {
    width: 441px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page5__discount-image {
    width: 72px;
    height: 72px;
    padding: 16px;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
}
.page5__discount-text {
    /*margin-left: 25px;*/
    width: 344px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.page6 {
    position: relative;
    margin-top: 242px;
    height: 864px;
    background-image: url(../images/page6back.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.page6__textblock {
    position: relative;
    z-index: 1;
    width: 411px;
    margin-top: 138px;
    margin-left: 99px;
}
.page6__nav {
    position: relative;
    margin-top: 47px;
    width: 299px;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page6__nav ul {
    padding: 0;
}
.page6__nav ul li {
    list-style: none;
}
.styletypes-nav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}
.page6__photoblock1 {
    position: relative;
    margin-top: -41px;
    margin-bottom: -42px;
    z-index: 1;
    width: 354px;
    height: 946 px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page6__photoblock2 {
    position: relative;
    margin-top: -113px;
    margin-bottom: 40px;
    margin-right: 102px;
    z-index: 1;
    width: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page7 {
    margin-top: 110px;
    height: 1107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/page7back.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
}
.page7__text {
    width: 376px;
    line-height: 29px;
}
.page7__content {
    width: 1236px;
    height: 455px;
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page7__content-block {
    width: 376px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.page7__content-block-title {
    width: 277px;
    height: 76px;
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page7__content-block-photo {
    width: 76px;
    /*height: 76px;*/
    /*border: white 0px solid;*/
    border-radius: 50%;
}
.page7__content-block-text {
    margin-left: 20px;
    margin-top: 23px;
    width: 324px;
    height: 216px;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.page7__content-block-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.page7__content-block-time {
    width: 147px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.line {
    border-left: 0.75px solid #FFFFFF;
}
.page8 {
    height: 954px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page8__form {
    margin-top: -223px;
    width: 883px;
    height: 445px;
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page8__form-content {
    width: 520px;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #181818;
} 
.page8__form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page8__form-input {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    height: 139px;
}
.inputblock1{
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.inputblock2 {
    width: 517px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.page8__content {
    margin-top: 52px;
    width: 589px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.page8__content-signs {
    margin-top: 26px;
    width: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signlink {
    width: 28px;
    height: 28px;
    background: #E3B873;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}
.page8__content-map {
    margin-top: 43px;
    width: 925px;
    height: 465px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}
.mobile {
    display: none;
}
.logo {
    color: #E3B873;
}
@media only screen and (max-width: 1300px){
    .nomobile {
        display: none;
    }
    .mobile {
        display: flex;
    }
    /* .container {
        max-width: 360px; }
    }*/
    .header-content {
        height: 57px;
        padding: 0 18px;

    }
    .page1 {
        width: auto;
        height: 476px;
        background-size: auto 100%;
    }
    .page1__content {
        max-width: 360px;
        height: 476px;
        padding: 85px 18px 61px 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .headtitle {
        padding:  0;
        width: auto;
        font-size: 23px;
        line-height: 31px;
    }
    .maintext {
        font-size: 14px;
        line-height: 19px;
    }
    .button {
        font-family: Nunito Sans;
        font-style: italic;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }
    .button1 {
        width: auto;
        max-width: 340px;
    }
    .page2 {
        height: 633px;
        max-width: 360px;
    }
    .page2__content {
        padding: 36px 18px 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .title {
        max-width: 340px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
    }
    .text {
        padding: 14px;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    .page2__projectinfo {
        padding: 0;
    }
    .info-name {
        font-size: 14px;
        line-height: 19px;
    }
    .info-text {
        font-size: 11px;
        line-height: 15px;
    }
    .page2__projectdetails-image {
        width: 340px;
        height: 241px;
    }
    .page3 {
        height: 840px;
        margin: 0;
        padding: 58px 18px 0 18px;
        background-color: black;
    }
    /* .subtitle {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    } */
    .page3__video {
        width: 340px;
        height: 207px;
    }
    .play-button {
        width: 37px;
        height: 37px;
        background-size: 50px;
    }
    .page3__text {
        width: 340px;
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    .page3__inputblock {
        padding: 0;
        margin-top: 58px;
        margin-bottom: -25px;
        width: 340px;
        height: 310px;
        flex-direction: column;
        justify-content: space-between;
    }
    .inputblock {
        width: auto;
        border-bottom: 1px solid #FFFFFF;
    }
    .inputbox-title {
        color: rgba(255, 255, 255, 0.5);
    }
    .inputbox {
        background-color: black;
    }
    .page5__checkbox {
        margin: 0;
    }
    .page4 {
        margin-top: 83px;
        padding-left: 18px;
        height: auto;
    }
    .page4__content {
        width: 340px;
        flex-direction: column;
    }
    .page4__content-element {
        width: 340px;
        align-items: flex-start;
        margin-bottom: 79px;
    }
    .page4__content-element img {
        width: 100%;
        object-fit: cover;
    }
    .page4__content-element1 {
        width: 270px;
    }
    .page4__content-element-list {
        padding-bottom: 37px;
    }
    .page4__content-element-price {
        width: 190px;
        height: 40px;
        font-size: 15px;
        line-height: 21px;
        margin-bottom: -20px;
    }
    .page6 {
        margin: 0;
        padding: 0 18px 0 18px;
        height: 211px;
        background-image: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .page6__textblock {
        margin: 0;
        width: 340px;
        align-items: center;
    }
    .page6__photoblock1 {
        margin: 24px 0 0 0;
        width: 340px;
        height: 242px;
    }
    .page6__photoblock1 img {
        height: 100%;
        object-fit: cover;
    }
    .page8 {
        height: 1100px;
        background: black;
    }
    .page8__form-content {
        width: auto;
        background: black;
    }
    .page8__form {
        margin: 173px 0 0 0;
        width: 340px;
        background: black;
    }
    .page8__form-data {
        width: 340px;
        background: black;
        align-items: stretch;
    }
    .page8__form-input {
        flex-direction: column;
        width: 340px;
    }
    .inputblock1, .inputblock2 {
        width: 340px;
    }
    .page8__content {
        order: 1;
        width: 340px;
    }
    .page8__content .subtitle {
        font-size: 18px;
        line-height: 25px;
    }
    .page8__content-map {
        margin: 0;
        width: 340px;
        height: 250px;
    }
    .page8__content-map img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .page8__content-signs {
        width: 99px;
    }
    .signlink {
        width: 39px;
        height: 39px;
        padding-top: 10px;
    }
}
